@import url("https://fonts.cdnfonts.com/css/pt-sans-caption");
.character_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 11vh;
  width: 60vw;
  height: fit-content;
  border-radius: 1vw;
  background-color: white;
}
.character_form .form_field {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: black;
  font-family: "PT Sans Caption", sans-serif;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 0;
  width: 50%;
}
.character_form .form_field label {
  display: flex;
  flex-direction: row;
  width: 15%;
}
.character_form .form_field input, .character_form .form_field select {
  width: 85%;
  padding: 1%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5vh;
  border: 1px black solid;
}
.character_form h2 {
  color: black;
  font-size: 2.5vw;
  font-family: "PT Sans Caption", sans-serif;
}
.character_form .description {
  width: calc(50% - 8px);
  height: 10vh;
  border: 1px black solid;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-left: 4px rgb(108, 108, 108) solid;
  border-bottom: 4px rgb(108, 108, 108) solid;
  border-top: 4px rgb(17, 17, 17) solid;
  border-right: 4px rgb(17, 17, 17) solid;
  font-family: "PT Sans Caption", sans-serif;
}
