@import "../variables";

.handbook_main_container{
    @include flex-container-column;
    @include center_horizontal_and_vertical;
    position: relative;
    top: 11vh;
    width: 50vw;
    height: fit-content;

    .info_section{
        @include flex-container-column;
        border: 1px black solid;
        width: 70vw;
        background-color: white;
        margin: 1vw;

        .list_of_items{
            @include flex-container-row;
            flex-wrap: wrap;

            .item{
                @include flex-container-row;
                justify-content: flex-start;
                align-items: center;
                width: 15vw;
                height: 8vh;
                margin: .5vw;
                border: 1px black solid;
                border-radius: 10px;
                cursor: pointer;
                font-family: $main_font;
                text-decoration: none;
                color: black;

                .logo{
                    width: 3vw;
                    height: 3vw;
                }
            }
        }


        h2{
            color: black;
            font-size: 2.5vw;
            font-family: $main_font;
        }
    }
}

.class_info_container, .race_info_container, .background_info_container{
    @include flex-container-column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 11vh;
    width: 50vw;
    height: fit-content;
    background-color: white;
    padding: 1vw;

    div{
        font-family: $main_font;
    }

    h1{
        font-family: $main_font;
    }
}