@import url("https://fonts.cdnfonts.com/css/pt-sans-caption");
.handbook_main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 11vh;
  width: 50vw;
  height: fit-content;
  padding: 1vw;
}
.handbook_main_container .info_section {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  width: 70vw;
  background-color: white;
  margin: 1vw;
  padding: 1vw;
}
.handbook_main_container .info_section .list_of_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.handbook_main_container .info_section .list_of_items .item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 10vh;
  margin: 0.5vw;
  border: 1px black solid;
  border-radius: 10px;
  padding-left: 1vw;
  cursor: pointer;
  font-family: "PT Sans Caption", sans-serif;
  text-decoration: none;
  color: black;
}
.handbook_main_container .info_section .list_of_items .item:hover {
  transition: 300ms;
  background-color: rgb(200, 200, 200);
}
.handbook_main_container .info_section .list_of_items .item .logo {
  width: 4vw;
  height: 4vw;
  border: 1px black solid;
  margin-right: 1vw;
}
.handbook_main_container .info_section h2 {
  color: black;
  font-size: 2.5vw;
  font-family: "PT Sans Caption", sans-serif;
}

.class_info_container, .race_info_container, .background_info_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: 11vh;
  width: 60vw;
  height: fit-content;
  background-color: white;
  padding: 1vw;
}
.class_info_container div, .race_info_container div, .background_info_container div {
  font-family: "PT Sans Caption", sans-serif;
}
.class_info_container h1, .race_info_container h1, .background_info_container h1 {
  font-family: "PT Sans Caption", sans-serif;
}
.class_info_container img, .race_info_container img, .background_info_container img {
  width: 10vw;
  height: 10vw;
  margin-bottom: 1vw;
  border-left: 5px rgb(49, 49, 49) solid;
  border-bottom: 5px rgb(49, 49, 49) solid;
  border-top: 5px rgb(17, 17, 17) solid;
  border-right: 5px rgb(17, 17, 17) solid;
}
