@import url("https://fonts.cdnfonts.com/css/pt-sans-caption");
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../public/images/tavern_back.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

.nav_panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: 3px white solid;
  position: fixed;
  width: 100%;
  height: 10vh;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.nav_panel .nav_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 10vw;
  height: 10vh;
  cursor: pointer;
  color: white;
  font-family: "PT Sans Caption", sans-serif;
  text-decoration: none;
  font-size: 1.1vw;
}
.nav_panel .nav_button .pointer {
  display: none;
  position: absolute;
  left: 43%;
  top: 100%;
  width: 0;
  height: 0;
  border-top: 10px solid red;
  border-right: 10px transparent solid;
  border-bottom: 10px transparent solid;
  border-left: 10px transparent solid;
}
.nav_panel .nav_button .submenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  display: none;
  position: absolute;
  width: 100vw;
  height: 40vh;
  background-color: white;
  border-bottom: 2px black solid;
  filter: opacity(95%);
}
.nav_panel .nav_button .submenu .submenu_button {
  margin-left: 8.5%;
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1vw;
  text-decoration: none;
}
.nav_panel .nav_button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7vh;
  width: 0%;
  height: 0.2vw;
  background-color: red;
  transition: width 0.5s;
}
.nav_panel .nav_button:hover {
  color: red;
}
.nav_panel .nav_button:hover .submenu, .nav_panel .nav_button:hover .pointer {
  display: flex;
}
.nav_panel .nav_button:hover::before {
  width: 100%;
}
.nav_panel ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}
.nav_panel .logo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.2vw;
  color: white;
  font-family: "PT Sans Caption", sans-serif;
  text-decoration: none;
}
.nav_panel .logo_container .logo {
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}
.nav_panel .logo_container .logo:hover {
  animation: roll 4s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 100ms;
}
@keyframes roll {
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.nav_panel .logo_container .name {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1.4vw;
}

.main_section {
  display: flex;
  flex-direction: column;
  width: 99vw;
  position: relative;
  top: 60vh;
}
.main_section section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-color: black;
  padding-bottom: 10vh;
  background-color: white;
}
.main_section section .icon_container {
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 80vh;
  flex-wrap: wrap;
}
.main_section section .icon_container > :nth-child(1) :first-child {
  background-image: url("../../../public/images/character_list.jpg");
  background-size: cover;
}
.main_section section .icon_container > :nth-child(2) :first-child {
  background-image: url("../../../public/images/Master.jpg");
  background-size: cover;
}
.main_section section .icon_container > :nth-child(3) :first-child {
  background-image: url("../../../public/images/Reference.jpg");
  background-size: cover;
}
.main_section section .icon_container > :nth-child(4) :first-child {
  background-image: url("../../../public/images/Dev.jpg");
  background-size: cover;
}
.main_section section .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(50% - 30px);
  height: calc(50% - 30px);
  margin: 10px;
  border-left: 5px rgb(49, 49, 49) solid;
  border-bottom: 5px rgb(49, 49, 49) solid;
  border-top: 5px rgb(17, 17, 17) solid;
  border-right: 5px rgb(17, 17, 17) solid;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.main_section section .icon h3 {
  font-family: "PT Sans Caption", sans-serif;
  position: absolute;
  bottom: 0;
  left: 10px;
  color: white;
  font-size: 1.9vw;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.main_section section .icon p {
  display: none;
  color: white;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1.7vw;
  padding: 20px;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.main_section section .icon .picture {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main_section section .icon:hover {
  scale: 1.02;
  transition: 100ms;
}
.main_section section .icon:hover p {
  z-index: 1;
  display: block;
}
.main_section section .icon:hover .picture {
  filter: brightness(30%);
  scale: -3.98px;
}
.main_section section .icon:hover h2 {
  scale: -3.98px;
}
.main_section section .icon:hover h3 {
  display: none;
}
.main_section > h1 {
  position: absolute;
  font-family: "PT Sans Caption", sans-serif;
  color: white;
  text-shadow: 2px 0 2px #000, 0 2px 2px #000, -2px 0 2px #000, 0 -2px 2px #000;
  top: -40vh;
  left: 25%;
  font-size: 5vw;
}
.main_section h2 {
  color: black;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 2.5vw;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  width: 100%;
  position: relative;
  height: fit-content;
  top: 60vh;
}
.footer .info_column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  height: fit-content;
}
.footer .info_column h4 {
  color: white;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1.2vw;
}
.footer .info_column h5 {
  color: white;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1vw;
}
.footer .social_network_container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
}
.footer .social_network_container .social_network_picture {
  width: 3vw;
  height: 3vw;
  margin-right: 0.3vw;
}
